nav{
    color: white;
    display: flex;
    background-color: rgba(77, 77, 77, 0.326);
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    .left-nav{
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;

    .left-nav img{
        color: white;
    }
   }

   .right-nav{
    display: flex;
     gap: 1.5rem;
   }
}

