.cards{
    width: 100%;
  height: 90%;
    overflow-y: auto;
overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline: 1rem;
    justify-content: center;
    padding-block: 1rem;

    .card{
        max-width:15rem;
       background: #383838;
       padding: 0.75rem;
        img{
            width: 100%;
            object-fit: cover;
        }
        h1{
            font-size: 1.2rem;
        }
        p{
            font-size: 0.8rem;
            font-weight: 500;
            word-spacing: 0.3rem;
            margin-block: 0.3rem;
        }
        .tags{
            display: flex;
            flex-wrap: wrap;
       
            // gap: 1rem;

            .tag{
                // border: 1px solid blue;
                padding-inline: 0.5rem;
                padding-block: 0.3rem;
                margin-right: 0.7rem;
                background: #848484;
                border-radius: 2rem;
                color: white;
            }
        }
        .urls{
            display: flex;
            justify-content: space-between;
                 margin-top: 0.75rem;
            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                text-decoration: underline;
                color: springgreen;
            }
        }
    }
}
