.window{
    // width: 600px;
    // height: 400px;
    height: 100%;
    background-color: black;
    border-radius: 0.5rem;
    color: rgb(206, 206, 206);

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

    .window-nav{
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;
        padding-inline: 0.5rem;
        padding-block: 0.2rem;
        gap: 1rem;
        font-weight: 600;

        .dots{
        display: flex;
        align-items: center;
        gap: 0.2rem;

        .dot{
            height: 0.9rem;
            width: 0.9rem;
            border-radius: 50%;
            // background-color: aqua;
            
        }
        .red{
            background-color: rgb(230, 8, 67);
        }
        .yellow{
            background-color: rgb(237, 237, 7);
        }
        .green{
            background-color: rgb(76, 211, 8);
        }
    }
     
    }

    .main-content{
        height: 100%;
        // overflow: scroll;
    }

    
}