*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,
#root{
    height: 100%;
    width: 100%; 
}

main{
    background-image: url(./dc77f8902f7a8e50bf84ddc3b1bac32a.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
